@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Jakarta Sans";
  src: url("/assets/fonts/jakarta/PlusJakartaSans-ExtraBold.ttf");
  font-weight: 800;
}
