@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
@layer base {
  body {
    @apply font-jakarta text-base text-white bg-gray-600;
  }
  h1 {
    @apply text-[1.875rem] font-semibold leading-[160%] lg:text-[3rem] 2xl:text-[3.875rem] 2xl:leading-[5.375rem];
  }
  h2 {
    @apply text-[1.625rem] font-semibold leading-[140%] lg:text-[2.25rem];
  }
  h3 {
    @apply text-xl font-semibold lg:text-[1.75rem];
  }
  h4 {
    @apply text-lg font-semibold;
  }
  p {
    @apply text-sm font-normal lg:text-base;
  }

  button {
    @apply transition-all duration-150 ease-linear active:scale-95;
  }
  .bg-style {
    @apply bg-cover bg-center bg-no-repeat;
  }
  .sb {
    @apply border border-red-500;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .container {
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1320px;
  }

  @media (min-width: 960px) {
    .container {
      width: calc(100% - 160px);
    }
  }

  @media (min-width: 1440px) {
    .container {
      width: calc(100% - 180px);
    }
  }
}
